header
  h1 Code examples Jade

  ul
   li 
    a(href='/') Test 
   li 
    a(href='/getpost') Test get/post
   li 
    a(href='/filesystem') Persistence testing (file)
   li 
    a(href='/mongoList') Persistence testing (MongoDB)